// Project Colors

// Primary Colors
$primary-normal: #82269E;
$primary-light: #9C4FB4;
$primary-dark: #701F88;

// Secondary Colors
$secondary-normal: #A950C4;
$secondary-light: #BB71D2;
$secondary-dark: #9142A8;


// Auxiliary Colors
$red-normal: #EB3D3D;
$red-light: #F05454;
$red-dark: #D03333;

$green-normal: #32D957;
$green-light: #50E170;
$green-dark: #28BB49;

$yellow-normal: #FFCE52;
$yellow-light: #FFD76B;
$yellow-dark: #D9B043;

// White Colors
$white-normal: #F7F2FA;
$white-light: #FEFBFF;
$white-dark: #EDEAEF;

// Black Colors
$black-normal: #232224;
$black-light: #353436;
$black-dark: #161617;

// Gray Colors
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #A6A6A7;

// Box Shadow Colors
$shadow-header: 0px 51px 80px rgba(169, 80, 196, 0.08),
0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271),
0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04),
0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);

$shadow-btn-normal: 0px 17px 17px rgba(169, 80, 196, 0.13),
0px 5.125px 5.125px rgba(169, 80, 196, 0.0847066),
0px 2.12866px 2.12866px rgba(169, 80, 196, 0.065),
0px 0.769896px 0.769896px rgba(169, 80, 196, 0.0452935);

$shadow-btn-hover: 0px 17px 31px rgba(169, 80, 196, 0.27),
0px 5.125px 9.34559px rgba(169, 80, 196, 0.175929),
0px 2.12866px 3.88168px rgba(169, 80, 196, 0.135),
0px 0.769896p 1.40393px rgba(169, 80, 196, 0.094071);